{% extends "base.html" %}

{% block content %}
    <div id="about">
        <h1 class="abouth1">About</h1>
        <p>Grubbernaut is designed to assist a user explore the tastiest, most sanitary food in Wake County so that you can decide if you want to grub or not. Use our search feature to search for a restaurant, or browse to explore the restaurants with the most recent inspections. </p>
        </div>
    <div id="banner">
        <div id="discover">
           <h2 class="abouth2"> What does your sanitation score mean?</h2>
           <p>Here's your guide:</p>
        </div>
    </div>
    <div class="container">
        <div class="grades">
            <p>Grade</p>
            <p>Score Range</p>
            <p>A</p>
            <p>90-100</p>
            <p>B</p>
            <p>80-89</p>
            <p>C</p>
            <p>70-79</p>
            <p>Restaurant Shuts Down</p>
            <p>69 and Below</p>
        </div>
    </div>
    <div>
        <h2 class="about-project">About The Project</h2>
        <section>
            <div class="our-project">
                <p>
                    This project was developed out of a desire to make public information that is not easily accessible available in a user-friendly format.
                </p>
                <p>
                    To create the Grubbernaut app, data from four API's were used: three from Wake County Health Inspections and the Yelp Fusion API. 
                </p>
                <p>
                    Grubbernaut was built using Django, JavaScript, HTML and CSS. Graphic elements were developed using Charts.js.
                </p>
                <p>
                    Grubbernaut's clean and simple design makes comparing health inspection scores and Yelp ratings quick and easy for the user.
                </p>
            </div>
        </section>
        <h3 class="abouth3">APIs Used:</h3>
        <div class="api-list">
            <div><a href="https://data-wake.opendata.arcgis.com/datasets/restaurants-in-wake-county">Wake County Restaurants API</a></div>
            <div><a href="http://data-wake.opendata.arcgis.com/datasets/food-inspections">Wake County Inspections API</a></div>
            <div><a href="http://data-wake.opendata.arcgis.com/datasets/food-inspection-violations">Wake County Violations API</a></div>
            <div><a href="https://www.yelp.com/developers/documentation/v3">Yelp Fusion API</a></div>
        </div>
    </div>    
{% endblock %}