{% extends "base.html" %}

{% block content %}
    <div id="results-display">

        <h2 class="browse-heading">Recent Inspections</h2>
        {% for inspection in recent_inspections %}
            <div class="restaurant" data-permitid="{{ inspection.attributes.PERMITID }}">
                <div class="browse-inspection-date">
                    {{ inspection.attributes.DATE_ }}
                </div>
    
                <div class="browse-restaurant-name">
                    {{ inspection.attributes.NAME|safe }}
                </div>

                <div class="browse-restaurant-address">
                    {{ inspection.attributes.ADDRESS1 }}

                    <br>

                    {% if inspection.attributs.CITY %}
                        {{ inspection.attributes.CITY }}
                    {% endif %}
                    
                    {{ inspection.attributes.POSTALCODE }} 
                    <br>

                    {{ inspection.attributes.PHONENUMBER }}
                </div>
    
                <div class="browse-restaurant-scores-container">
                    <div class="browse-restaurant-inspection-score">
                        <div class="browse-restaurant-inspection-score-number">
                            {{ inspection.attributes.SCORE }}
                        </div>
                        <div class="browse-restaurant-inspection-score-heading">
                            Inspection Score
                        </div>
                    </div>

                    <div class="browse-restaurant-yelp-score">
                            <div class="browse-restaurant-yelp-score-number">
                                {% if inspection.attributes.YELP_RATING is not None  %}
                                    {{ inspection.attributes.YELP_RATING }}
                                {% else %}
                                    No Rating Found
                                {% endif %}
                            </div>
                            <div class="browse-restaurant-yelp-score-heading">
                                Yelp Rating
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <h2 class="browse-heading">Lowest Sanitation Scores</h2>
        {% for inspection in lowest_inspections %}
            <div class="restaurant" data-permitid="{{ inspection.attributes.PERMITID }}">
                <div class="browse-inspection-date">
                    {{ inspection.attributes.DATE_ }}
                </div>
    
                <div class="browse-restaurant-name">
                    {{ inspection.attributes.NAME|safe }}
                </div>

                <div class="browse-restaurant-address">
                    {{ inspection.attributes.ADDRESS1 }}

                    <br>

                    {% if inspection.attributs.CITY %}
                        {{ inspection.attributes.CITY }}
                    {% endif %}
                    
                    {{ inspection.attributes.POSTALCODE }} 
                    <br>

                    {{ inspection.attributes.PHONENUMBER }}
                </div>
    
                <div class="browse-restaurant-scores-container">
                    <div class="browse-restaurant-inspection-score">
                        <div class="browse-restaurant-inspection-score-number">
                            {{ inspection.attributes.SCORE }}
                        </div>
                        <div class="browse-restaurant-inspection-score-heading">
                            Inspection Score
                        </div>
                    </div>
    
                    <div class="browse-restaurant-yelp-score">
                        <div class="browse-restaurant-yelp-score-number">
                            {% if inspection.attributes.YELP_RATING is not None  %}
                                {{ inspection.attributes.YELP_RATING }}
                            {% else %}
                                No Rating Found
                            {% endif %}
                        </div>
                        <div class="browse-restaurant-yelp-score-heading">
                            Yelp Rating
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}