{% extends "base.html" %}

{% block content %}
  <h1 style="color:white;text-align:center;">Welcome {{request.user.username}}</h1>





  <h1 style="color:white;text-align:center;">User Profile </h1>

  <div class="favs">
    {% if favorites %}
      <h2 style="text-align:center;">My Favorite Restaurants</h2>
      <table>
      
        {% for favorite in favorites%}
        
        <div>{{favorite.restaurant}}   <!--input type="button" class="trash"  value="🗑️  Delete From Favorites"></button>--><a href="{% url 'delete_favorite' favorite.restaurant.pk%}">🗑️  Delete From Favorites</a></div>

        
      
        {% endfor%}
      </table>
     
      {% endif%}
    
    </div>
    </div>
    

{%endblock%}

