{% extends "base.html" %}

{% block content %}
  <h1 style="color:white;text-align:center;">Welcome {{request.user.username}}</h1>





  <h1 style="color:white;text-align:center;">User Profile </h1>

  <div class="favs">
    {% if favorites %}
      <h2 style="text-align:center;">My Favorite Restaurants</h2>
      <table>
      
        {% for favorite in favorites%}
        <tr><td>{{favorite.restaurant}}</td></tr>
        
      
        {% endfor%}
      </table>
     
      {% endif%}
    
    </div>
    </div>
    

{%endblock%}

