{% extends "base.html" %}

{% block content %}
<div>
    <!-- <h1>Grub Or Not</h1> -->
    <h2 class="dirty-secret">
        Is your favorite restaurant hiding a dirty secret?
    </h2>
    <p class="dirty-secret">Find Out!</p>
    <div>
        <form class="search" id="search-form">
            <input type="text" id="search-input" required>
            <br>
            <button class="button" type="submit">search</button>
        </form>
        <p class="search-reports">Search Wake County Food Inspection Reports</p>
    </div>
    <hr>
    <div class="background-color" id="results">
        <h2 class="results-heading">Restaurants:</h2>
        <ul id="results-display">
        </ul>
    <div id="results">
        <div id="results-display">
        </div>

        <div class = "box">

                <canvas id="myChart" width="50" height="20
                "></canvas>
                <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ['1st Q', '2nd Q', '3rd Q', '4th Q'],
                        datasets: [{
                            label: 'Score Over Year',
                            data: [50, 75, 90, 100],
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                            ],
                            borderWidth: 3
                        }]
                    },
                    options: {
                        scales: { 
                            yAxes: [{ 
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                </script>

        </div>

    </div>
</div>

{% endblock %}