{% extends "base.html" %}


{% block content %}
<div>
        <form id="search-form">
                <input type="text" id="search-input" required>
                <br>
                <button class="button" type="submit">search</button>
            </form>
            <p class="search-reports">Search Wake County Food Inspection Reports</p>
        </div>

<div id="results">
        <h2 class="results-heading">Restaurants:</h2>
        <div id="results-display">

</div>
    </div>


{% endblock %}
