{% extends "base.html" %}

{% block content %}
<div>
    <!-- <h1>Grub Or Not</h1> -->
    <h2 class="dirty-secret">
        Is your favorite restaurant hiding a dirty secret?
    </h2>
    <p class="dirty-secret">Find Out!</p>
    <div>
        <form class="search" id="search-form">
            <input type="text" id="search-input" required>
            <br>
            <button class="button" type="submit">search</button>
        </form>
        <p class="search-reports">Search Wake County Food Inspection Reports</p>
    </div>
    <hr>
    <div class="background-color" id="results">
        <h2 class="results-heading">Restaurants:</h2>
        <ul id="results-display">
        </ul>
    </div>
</div>

{% endblock %}