* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Capriola', sans-serif;
}

html, body {
    height: 100%;
}

/* HEADER ELEMENTS */
header {
	display: flex;
	background-image: url('/static/images/martian.svg');
	background-position: center top;
	background-size: cover;
	justify-content: space-between;
}

.grubbernaut {
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	list-style: none;
	padding-right: 1rem;
	align-items: center;
}

.nav a {
	color: #e6e6e6;
	margin: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	font-size: 1.25rem;
} 

/* BODY ELEMENTS */
body {
	background-color: #091433;	
}

#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
}

#discover {
	color: #27bace;
	margin: 2.5rem;
	font-size: 2rem;
	text-align: center;
}

.dirty-secret {
    color: #303C6C;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.search-reports {
    color: #27bace;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 2px;
	
	margin-top: 1rem;
}

#search-form {
	display: flex;
	flex-direction: column;
    justify-content: center;
	color: black;
	text-align: center;
}

#search-input {
    width: 50rem; 
	height: 4rem;
	text-align: center;
	font-size: 2rem;
}

.explore-button {
	margin: 1rem;
	height: 3rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	background-color: #27bace;
	border-color: #27bace;
}

.show-comments-button {
	height: 2rem;
}

.violations-title {
	text-align: center;
}

.restaurant-score {
	font-size: 2rem;
}

.results-heading {
    color: #F4976C;
    font-size: 2.5rem;
    display: flex;
    justify-content: left;
    padding: 10px;
    
}

.sanitation-chart {
    width: 40rem;
    height: 30rem;
    margin: 5rem auto;
}

.restaurant {
	display: grid;
	margin: 3rem;
	background-color: rgba(212, 212, 212, 1);
}

.browse-heading {
	text-align: center;
	margin-top: 3rem;
}

.browse-inspection-date {
	text-align: center;
	margin: 2rem;
}

.browse-restaurant-name {
	text-align: center;
	font-size: 3rem;
}

.browse-restaurant-address {
	text-align: center;
}

.browse-restaurant-scores-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.browse-restaurant-inspection-score {
	margin: 2rem;
	text-align: center;
}

.browse-restaurant-inspection-score-number {
	font-size: 3rem;
}

.browse-restaurant-inspection-score-heading {
	
}

.browse-restaurant-yelp-score {
	margin: 2rem;
	text-align: center;
}

.browse-restaurant-yelp-score-number {
	font-size: 3rem;
}

.browse-restaurant-yelp-score-heading {

}

