@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
	display: flex;
}

body {

	min-height: 100vh;
	background-color: black;
	background-image: url('/static/images/martian.svg');
	background-position: center bottom;
	background-size: cover;
}

#banner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	border-radius: 15px;
}

#discover {
	color: #27bace;
	margin: 2.5rem;
	font-size: 2rem;
}

a {
    color: #303C6C;
    font-family: sans-serif;
}

.yelp-image {
    display: flex;
    justify-content: right;
    max-width: 45%;
    margin: 20px;
}

.restaurant-name {
    font-size: 4rem;
    padding: 10px;
    margin: 10px;
}

.restaurant-address {
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
}

.title {
    color: #FBE8A6;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 4rem;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    list-style: none;
}
.nav a {
	color: #27bace;
	margin: 1rem;
}

.link {
    padding: 10px;
}

.dirty-secret {
    color: #303C6C;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: sans-serif;
}

.search-reports {
    color: #27bace;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 2px;
	font-family: sans-serif;
	margin-top: 1rem;
}

#search-form {
    display: flex;
    justify-content: center;
    
    color: black;
}

.button {
    color:#05386B;

}

.violations-title {
	text-align: center;
}

.restaurant-score {
	font-size: 2rem;
}

.results-heading {
    color: #F4976C;
    font-size: 2.5rem;
    display: flex;
    justify-content: left;
    padding: 10px;
    font-family: sans-serif;
}

.sanitation-chart {
    width: 40rem;
    height: 30rem;

    margin: 5rem auto;
}



.restaurant {
	display: grid;

	margin: 3rem;

	background-color: rgba(212, 212, 212, 1);
}

.restaurant:hover {

	background-color: rgb(112, 122, 214);
}

html, body { height:100%; }

.flexbox {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.fav-btn {
	display:flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

html, body { height:100%; }

.flexbox {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.fav-btn {
	display:flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.browse-heading {
	text-align: center;
	margin-top: 3rem;
}

.browse-restaurant-name {
	text-align: center;
}

.browse-restaurant-address {
	text-align: center;
}