* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Capriola', sans-serif;
}

html, body {
    height: 100%;
}

/*************************** HEADER ELEMENTS *****************************/


header {
	display: flex;
	background-image: url('/static/images/martian.svg');
	background-position: center top;
	background-size: cover;
	justify-content: space-between;
}

.grubbernaut {
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
	list-style: none;
	padding-right: 1rem;
	align-items: center;
}

.nav a {
	color: #e6e6e6;
	margin: 1rem;
	padding: 1rem;
	display: flex;
	justify-content: flex-end;
	font-size: 1.25rem;
} 

/***************************** BODY ELEMENTS *****************************/


body {
	background-color: #091433;	
}

#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
}

#discover {
	color: #27bace;
	margin: 2.5rem;
	font-size: 2.25rem;
	text-align: center;
}

.dirty-secret {
    color: #303C6C;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.search-reports {
    color: #27bace;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    padding: 2px;
	margin-top: 1rem;
}

#search-form {
	display: flex;
	flex-direction: column;
    justify-content: center;
	color: black;
	text-align: center;
}

#search-input {
	width: 50rem; 
	height: 4rem;
	text-align: center;
	font-size: 2rem;
}

.autocomplete-items {
	color:#27bace;
	text-align: center;
}


/*********************** DYNAMIC ELEMENTS *************************/


.restaurant-name {
    padding-top: 10px;
	margin-top: 10px;
	text-align: center;
	font-size: 3rem;
}

.restaurant-address {
	/* margin-left: 20px; */
	/* height: 4rem; */
	text-align: center;
	/* font-size: 2rem; */
}

.explore-button {
	margin: 1rem;
	height: 3rem;
	border-radius: 1rem;
	font-size: 1.5rem;
	background-color: #27bace;
	border-color: #27bace;
	outline: none;
}

.show-comments-button {
	margin: 1rem;
	border-radius: 1rem;
	background-color: #27bace;
	border-color: #27bace;
	outline: none;
	font-size: 1rem;
	padding: 0.5rem;
    
	

}

.violations-title {
	text-align: center;
	padding: 1.5rem;
}

.violation {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	padding-bottom: 1.5rem;
}


.restaurant-score {
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
}


.sanitation-chart {
    width: 45rem;
    height: 20rem;
	margin: 2rem auto 4rem;
	align-items: center;
}

.sanitation-chart-title {
	text-align: center;
}

.restaurant {
	border-radius: 1rem;
	display: grid;
	margin: 3rem;
	background-color: rgba(212, 212, 212, 1);
}

.browse-heading {
	text-align: center;
	font-size: 3rem;
	margin-top: 3rem;
	color: #27bace;
}

.browse-inspection-date {
	text-align: center;
	margin: 2rem;
}

.browse-restaurant-name {
	text-align: center;
	font-size: 3rem;
}

.browse-restaurant-address {
	text-align: center;
}

.browse-restaurant-scores-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.browse-restaurant-inspection-score {
	margin: 2rem;
	text-align: center;
}

.browse-restaurant-inspection-score-number {
	font-size: 3rem;
}

/* .browse-restaurant-inspection-score-heading {
	
} */

.browse-restaurant-yelp-score {
	margin: 2rem;
	text-align: center;
}

.browse-restaurant-yelp-score-number {
	font-size: 3rem;
}

/* .browse-restaurant-yelp-score-heading {

} */

/************************ ABOUT PAGE  *******************/

#about {
	color: #27bace;
	margin: 2.5rem;
	text-align: justify;
	font-size: 2rem;
} 


.abouth1 {
	padding: 2rem;
	display: flex;
	justify-content: center;
	font-size: 3.5rem;
	margin-top: 3rem;
}


.abouth2 {
	font-size: 2.75rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.abouth2 p {
	font-size: 1.5rem;
}

section {
	color: #27bace;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.our-project {
	font-size: 1.75rem;
	margin: 2rem;
}

.our-project p {
	margin: 1rem;
}

.about-project {
	color: #27bace;
	display: flex;
	justify-content: center;
	margin-top: 6rem;
	font-size: 2.5rem;
}

.grades {
	display: grid;
	grid-template-columns: 25rem 25rem;
	grid-template-rows: repeat(5, 80px); 
	background-color: #e6e6e6;
	justify-self: center;
	border-radius: 15px;

}

.grades p {
	display: grid;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	padding: 1rem;

}

.container {
	display: flex;
	justify-content: center;
}

.abouth3 {
	color: #27bace;
	font-size: 2.25rem;
	text-align: center;
	margin: 1rem;
}

.api-list {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 2rem;
}

.api-list a:visited {
	color: white;
}
